# ignore directory
.metadata/
Servers/
target/
project/src/main/webapp/attach
project/src/main/resources/log

target/m2e-wtp/
# aws 키 ignore
*.properties

project/.classpath
project/.factorypath
project/bin/
project/.settings
project/log/

# 배포버전 삭제
배포버전/